---
import Career from "../components/Career.astro";
import Layout from "../layouts/Layout.astro";
import { rilton } from "../data/profile";
import { Button } from "@/components/ui/button";
import { Badge } from "@/components/ui/badge";
import { Download } from "lucide-react";
---

<Layout title="Rilton Bispo">
  <main class="max-w-7xl mx-auto lg:px-16 px-6">
    <section
      class="flex xl:flex-row flex-col xl:items-center items-start xl:justify-center justify-between gap-x-12 lg:mt-32 mt-20 mb-16"
    >
      <div class="lg:max-w-2xl max-w-2xl">
        <h1
          class="text-3xl font-bold tracking-tight sm:text-5xl lg:leading-[3.7rem] leading-tight lg:min-w-[700px] min-w-full"
        >
          {rilton.name}
        </h1>
        <h2 class="font-semibold text-3xl text-zinc-600">
          {rilton.subtitle}
        </h2>
        <ul class="flex items-center gap-x-6 my-5">
          {
            rilton.links.map((item) => (
              <li>
                <Button variant="link" className="p-0">
                  <a target="_blank" href={item.link} rel="noreferer noopener">
                    {item.label}
                  </a>
                </Button>
              </li>
            ))
          }
          <li>
            <Button variant="link" className="p-0">
              <a href=`mailto:${rilton.email}`>
                {rilton.email}
              </a>
            </Button>
          </li>
        </ul>
        <p class="text-base text-zinc-400 leading-relaxed">
          {rilton.description}
        </p>
        <ul class="flex flex-wrap items-center gap-1 my-8">
          {
            rilton.skills.map((skill) => (
              <li>
                <Badge variant="outline">{skill}</Badge>
              </li>
            ))
          }
        </ul>
      </div>
      <div
        class="flex flex-col lg:justify-self-center justify-self-start gap-y-8 lg:order-1 order-none mb-12"
      >
        <div>
          <img
            class="rounded-2xl mb-4 object-cover max-h-96 bg-top bg-[#1d1d20]"
            src="https://avatars.githubusercontent.com/u/98268946?v=4"
            width={400}
            height={400}
            alt="Rilton Bispo"
          />

          <Button className="w-full">
            <Download className="mr-2 h-4 w-4" /> Download CV
          </Button>
        </div>
      </div>
    </section>
    <Career />
  </main>
</Layout>
