---
import Layout from "../../layouts/Layout.astro";
interface Project {
  name: string;
  projectUrl: string;
  coverImage: string;
  description: string;
}

const project: Project = {
  name: 'Nome',
  projectUrl: 'https://github.com/riltonbispo',
  coverImage: 'https://images.unsplash.com/photo-1703979224361-ba5b9993b7ea?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
  description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. At, dolor similique tempore cumque sunt magnam rem. At qui, aut officiis maiores hic tempore consectetur magni, voluptate ducimus amet sit labore. Repellendus ea libero aspernatur accusantium fugit laudantium itaque ut possimus corporis, nesciunt quas doloremque velit officiis asperiores voluptas odio, nulla suscipit ducimus voluptatum incidunt dolores at? Molestias ea unde excepturi. Optio earum blanditiis ea! Delectus eos provident dolorum corrupti deleniti id magni perferendis labore. Quisquam cumque tenetur quibusdam labore, deserunt eius non harum, sed sequi aspernatur quia explicabo debitis dolorum. Perspiciatis quas modi voluptatum vero sint eaque impedit natus. Quasi eaque atque ratione ex doloremque placeat mollitia cum a optio non eligendi autem, error repellendus ipsam odit ipsa reprehenderit at.',
};

---

<Layout title="Project - Project Name">
  <main class="max-w-6xl mx-auto lg:px-16 px-8">
    <div class="max-w-3xl mx-auto">
      <div class="flex items-start justify-between mb-4">
        <h1 class="font-bold lg:text-5xl text-3xl lg:leading-tight mb-4">
          {project.name}
        </h1>

        <a
          target="_blank"
          href={project.projectUrl}
          rel="noreferrer noopener"
          class="bg-[#1d1d20] text-white hover:border-zinc-700 border border-transparent rounded-md px-4 py-2"
        >
          Ver mais
        </a>
      </div>

      <img
        class="rounded-xl border border-zinc-800"
        width={900}
        height={460}
        src={project.coverImage}
        alt={project.name}
      />

      <div class="flex flex-col gap-y-6 mt-8 leading-7 text-zinc-400">
        <p>
          {project.description}
        </p>
      </div>
    </div>
  </main>
</Layout>